<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ site.Title }}",
  "url": "{{ site.BaseURL }}",
  "logo": "{{ site.Params.metadata.image | absURL }}",
  "description": "{{ site.Params.metadata.description }}",
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "Saudi Arabia"
  }
  {{- with site.Params.social -}}
  ,"sameAs": [
    {{- $len := len . -}}
    {{- range $index, $element := . -}}
      {{- if .link -}}
        "{{ .link }}"{{- if ne (add $index 1) $len -}},{{- end -}}
      {{- end -}}
    {{- end -}}
  ]
  {{- end -}}
}
</script> 